.report-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

.section-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.report-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.report-table th,
.report-table td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: right;
}
.units-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 10px;
    /* ✨ السطر السحري الذي يحل المشكلة */
    grid-auto-flow: dense;
    column-count: 4; /* عدد الأعمدة، يمكنك تغييره حسب العرض */
    column-gap: 10px;

    h5 {
        border: 1px solid #cfcccc;
        padding: 3px;
        background: radial-gradient(#d7d4d4, #0000002e);
        margin: 1px;
        border-radius: 4px;
    }
    p {
        border: 1px solid #cfcccc;
        padding: 1px;
        margin: 4px;
        border-radius: 4px;
    }
}
.unit-section {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.item-card {
    border: 1px solid #ccc;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0,0,0,0.05);
}

.item-card h4 {
    font-weight: 600;
    margin-bottom: 6px;
}

.media-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 8px;
    margin-top: 8px;
}
.status-span {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 6px;
    font-weight: bold;
    color: #fff;
}

/* الخلفية الخضراء */
.status-correct {
    background-color: #16a34a; /* أخضر */
}

/* الخلفية الحمراء */
.status-incorrect {
    background-color: #dc2626; /* أحمر */
}

.media-thumb {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.media-thumb:hover {
    transform: scale(1.05);
}

.btn-back {
    display: inline-block;
    padding: 8px 16px;
    background: #4A90E2;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.2s;
}

.btn-back:hover {
    background: #357ABD;
}
